* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Navigo";
    src: url('fonts/Raif_font_Navigo-web_regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: ALS Hauss;
    src: url('fonts/ALS_Hauss_Medium_2.1.otf');
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.header-right {
    display: flex;
    flex-direction: row;
}

.img-header {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

img {
    display: block;
}

.photo {
    border-radius: 50%;
}

.mr-header {
    margin: 0 24px 0 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.banner {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    background-color: #CFF1E9;
    border-radius: 32px;
    width: 100%;
    height: 300px;
    padding: 40px 50px;
    background-image: url(./images/Saly-1.svg);
    background-position: right -5% bottom 45%;
    background-repeat: no-repeat;
    min-width: 416px;
}

.text-style-simple {
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #2B2D33;
}

.mr-banner {
    margin: 12px 0 0 0;
}

.text-style-bold {
    font-family: 'Navigo';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #2B2D33;
    margin: 24px 0 0 0;
}

.btn {
    padding: 11px 24px;
    margin: 32px 0 0 0;
    width: 197px;
    height: 48px;
    background: #2B2D33;
    border-radius: 8px;
    color: #FFFFFF;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.content-header {
    font-family: 'Navigo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #2B2D33;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}

.content-tag-container {
    display: flex;
    flex-direction: row;
}

.tag {
    padding: 5px 16px;
    position: static;
    height: 32px;
    background: #F4F4F4;
    border-radius: 16px;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #2B2D33;
    margin: 0px 10px;
}

.selected-tag {
    background: #2B2D33;
    color: #FFFFFF;
}

.content-table {
    border-collapse: collapse;
    margin: 24px 0 0 0;
}

.table-date {
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #2B2D33;
    margin: 0px 10px;
    width: 109px;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.table-text-bold {
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #2B2D33;
    margin: 4px 0px;
}

.table-text-simple {
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #AAABAD;
    margin: 4px 0px;
}

.event-name {
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    width: 177px;
    font-size: 14px;
    line-height: 22px;
    color: #00A5BC;
    margin: 4px 0px;
}

.table-btn {
    border: 2px solid #D6D6D7;
    width: 200px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 8px;
    color: #2B2D33;
    font-family: 'ALS Hauss';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.disabled {
    border: 2px solid #E9EAEA;
    color: #E9EAEA;
}

.like-container {
    width: 84px;
    display: flex;
    flex-direction: row;
}

.heart {
    margin-right: 5px;
}

@media (max-width: 1440px) {
    .main {
        padding-left: 205px;
        padding-right: 205px;
    }
}

@media (max-width: 1024px) {
    .main {
        padding-left: 32px;
        padding-right: 32px;
    }
    .event {
        max-width: 356px;
    }
}

@media (max-width: 800px) {
    .event {
        max-width: 334px;
    }
    .event-name {
        display: none;
    }
}

@media (max-width: 480px) {
    .event {
        max-width: 334px;
    }
    .banner {
        background-image: none;
    }
}